<div class="contact-wrapper">
  <h1 class="text-center mt-5 mb-5">Gallery</h1>
  <div class="product-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <%= link_to product_path(product.id) do %>
          <%= cl_image_tag product.picture %>
          <%= product.description %>
           <% end %>
          <% if user_signed_in? && current_user.email == "louise@test.com" %>
            <%= link_to gallery_path, method: :delete, data: { confirm: "Really Louise?" } do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        <!-- <h3 class="mt-3 product-title"><%= product.title %></h3> -->
      </div>
    <% end %>
  </div>
</div>
