<div class="show-wrapper">
  <div class="container-show">
    <div class="back-and-title">

      <div class="button-retour">
          <%=  link_to gallery_path do %>
          <%= image_tag "retour-arriere" %>
          <% end %>
      </div>
      <div class="title-card">
        <h1 class="text-center mt-5 mb-5"><%= @product.title  %></h1>
      </div>
    </div>
    <div class="card-show">
      <div class="card-picture">
        <%= cl_image_tag @product.picture %>
      </div>
      <div class="card-description">
        <p><%= @product.description %></p>
      </div>
      <div class="button-retour2  mt-5 mb-3">
          <%=  link_to gallery_path do %>
          <%= image_tag "retour-arriere" %>
          <% end %>
      </div>
      <% if user_signed_in? && current_user.email == "louise@test.com" %>
        <div class="edit-link mb-3">
          <%= link_to gallery_path, method: :delete, class: "delete-icon", data: { confirm: "Really Louise?" } do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>
          <%= link_to gallery_path, method: :patch, class: "delete-icon" do %>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
